<Files "config.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "includes.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "functions.php">
    Order Allow,Deny
    Deny from all
</Files>
